# Build directories
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# C++
*.o
*.so
*.a
cmake-build-*/

# System
.DS_Store
*~
Thumbs.db

# IDEs
.vscode/
.idea/
*.code-workspace
*.swp

# ROS
*.bag
*.bag.active
